<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name="info.nightscout.pump.danars.activities.BLEScanActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="info.nightscout.pump.danars.activities.BLEScanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.nightscout.pump.danars.activities.ZhiKaiBLEScanActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="info.nightscout.pump.danars.activities.ZhiKaiBLEScanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PairingHelperActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.EnterPinActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />

        <service
            android:name=".services.DanaRSService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.ZhiKaiService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
